@import 'npm:normalize.css/normalize.css';
*{line-height:1.2;margin:0;padding:0;}
// *{outline:1px solid rgba(255,0,0,0.2)}
html{
    position:relative;
    overflow:hidden;
    width:100vw;height:100vh;
    font-family:arial;font-size:10px;
}
body{
    font-size:1.6rem;
    text-align:center;
    position:relative;
    overflow:auto;
    width:100vw;height:100vh;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgba(180, 180, 180, 1) 100%);
    overflow-x:hidden;
}
body.backend-switch{
    background: radial-gradient(circle, rgba(180, 180, 180, 1) 20%, rgba(255, 255, 255, 1) 100%);
}

a{
    display:inline-block;
    color:rgba(0,0,110,1);
    border-bottom:2px dashed rgba(0, 0, 110, 0.5);
    text-decoration:none;
}

.descript-wrapper{
    height: auto; /* Let this div take its content height */
    padding: 20px; /* Optional padding */
    display:flex;
    justify-content: center;
}

.descript-container{
    color:#555;
    @media (min-width: 768px){
        width:70vw;
        max-width:800px;
        font-size:20px;
        padding-top:50px;
    }
}

.list-wrapper{
    position:relative;
    width:100vw;
    height:100%;
    display:flex;
    justify-content: center;
}
.list-container{
    position:relative;
    width:90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-template-rows: auto auto 150px auto;
    gap:10px;
    
    @media (min-width: 768px){
        padding:30px;
        width:70vw;
        gap:20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: auto auto 150px auto;
    }
}
.list-close{width:0px;overflow:hidden;border-radius: 15px;}
.list-lightbox{transition:all 0.5s;pointer-events:none;position:fixed;background-color:rgba(0,0,0,0);width:100%;height:100%;top:0;left:0;}
.item-wrapper{
    box-sizing:border-box;
    
    &.selected{
        outline-width:5px;
        position:fixed;
        z-index:9;
        width:82vw;
        max-height:73vh;
        overflow:auto;
        border-radius:15px;
        top:50%;bottom:50%;
        left:50%;right:50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.3);

        .item-image-wrapper{
            flex-grow:1;
            overflow:hidden;
            max-height:40%;

            @media (min-width: 768px){
                height:100%;
            }
        }

        .item-container{
            background-color:#fee;
            display:flex;
            flex-direction:column;
        }

        .item-description{
            padding:10px 25px;
            text-align: left;
            flex-shrink:1;
            height:inherit;
            position:relative;
            font-size:inherit;
            
            h2{
                font-size:20px;
                margin:0;padding:0 0 5px 0;
                width:auto;
                color:black;
                background-color:inherit;
            }

            @media (max-width: 768px){
                font-size:12px;
                h2{font-size:14px;}
            }
        }

        ~.list-close{
            position:fixed;
            bottom:0px;right:50%;left:50%;
            transform: translate(-50%, -50%);
            color:white;
            z-index:100;
            background: linear-gradient(45deg, #52299e, #5f4fe7);
            color:rgb(188, 247, 255);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            padding:10px;
            width:25px;
            cursor:pointer;
        }

        ~.list-lightbox{
            background-color:rgba(0,0,10,0.9);
            z-index:8;
            pointer-events:all;
        }
    }
}
.item-description{
    overflow:hidden;
    position:absolute;
    top:0;left:0;
    font-size:0;

    h2{
        color:rgb(223, 223, 223);
        z-index:1;
        font-size:12px;
        max-width:100%;
        margin:5px;
        box-sizing: border-box;
        background-color:rgba(0,0,0,0.6);
        border-radius: 10px;
        position: relative;
        padding:4px 8px;
        text-align:left;
    }
}
.item-wrapper{
    position:relative;
    height:100%;
    border-radius:15px;
    overflow:hidden;
    max-width:500px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.35);
}
.item-container{
    box-sizing: border-box;
    position:relative;
    height:100%;
}
.item-image-wrapper{
    display:flex;
    height:100%;
}
.item-image{
    width:100%;
    object-fit: cover;
    object-position: center center;
}

.item-backend{
    height:0;overflow:hidden;
    transition: height 0.5s ease-in-out;
}
.item-container:not(.item-backend){
    transition: height 0.5s ease-in-out;
}

.backend-switch{
    .item-container:not(.item-backend){
        height:0;overflow:hidden;
        transition: height 0.5s ease-in-out;
    }

    .item-backend{
        height:100%;
        transition: height 0.5s ease-in-out;
    }
}

.list-switch{
    position:fixed;
    top:36vw;bottom:0;
    margin-top:auto;margin-bottom:auto;
    height:20px;
    right:-40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #131313, #494949);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding:7px 25px 10px 15px;
    width:auto;
    cursor:pointer;
    border-radius: 15px;
    transition:all 0.3s ease;
    font-size:18px;
    z-index:9;

    div{
        transform: rotate(180deg);
        transform-origin: center;
        transition:transform 0.3s ease;
        color:rgb(216, 216, 216);
    }

    @media (min-width: 768px) {
        height:60px;
        right:-60px;left:auto;
        padding: 0 40px 0 15;
        font-size:45px;
        top:0;bottom:0;
        box-sizing: border-box;
    }
}

.backend-switch .list-switch{
    background: linear-gradient(45deg, #e9e9e9, #ffffff);
    transition:all 0.3s ease;
    transform-origin: center;

    div{
        transform: rotate(360deg);
        transition: transform 0.3s ease;
        color:rgb(0, 0, 0);
    }
}

.selected ~.list-switch{
    padding:10px 13px;
    right:-10px;
    transition:all 0.3s ease;

    @media (min-width: 768px) {
        padding:0px 15px 0px 15px;
        right:-305px;left:auto;
        margin-left:50%;margin-right:50%;
        top:0;
        bottom:0;
    }
}